<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./static/css/style.css" />

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/html2canvas.js') }}"></script>
	    <script type="text/javascript" src="./static/js/jquery.tablesorter.js"></script>
	    <script type="text/javascript" src="./static/js/script.js"></script>

		<title>Automated Table Generation</title>
	</head>
	<body>


	<div class="container">
        <div class="upload">
            <form style="margin: 0px;" id="file-upload" enctype="multipart/form-data">
                <div class="row-fluid">
                    <span class="btn btn-success fileinput-button">
                        <i class="icon-plus icon-white"></i>
                        <span>Add File...</span>
                        <input id="fileupload" type="file" name="file" multiple>
                    </span>
                    <span class="files">
                    </span>
                    <input id="upload-button" class="btn btn-primary pull-right" type="button" value="Upload" />
                </div>
            </form>
        </div>
        <div id="wrapperdiv1">
		    <div id="user-input">
			</div>
		</div>
    </div>

    <div id="table-display">
    </div>

    <table id="legend">
        <tr>
            <td class="max-color"></td>
            <td class="max-text">Maximum</td>
            <td class="min-color"></td>
            <td class="max-text">Minimum</td>
        </tr>
    </table>

    <div id="wrapperdiv" class="wrapper">
	    <div class="toggle">
	    	<span id="close">»</span>
	    	<span id="open">«</span>
	    </div>
	    <div class="options">
	    	<div id="inner-options">
    			<div id="bar-display">
    				<br>
	    			<h4>Display Trend</h4>
    			</div>
    			<div id="compress-checkbox">
    				<br>
	    			<h4>Compress Rows</h4>
	    			<input class="compress-rows" id="compress-rows" type="checkbox" name="compressrows">
    				<label for="compress-rows">Compress Rows</label>
    			</div>
    			<div id="summary-checkbox">
    				<br>
	    			<h4>Summarize</h4>
	    			<input class="summarize-columns" id="summarize-columns" type="checkbox" name="summarizecolumns">
    				<label for="summarize-columns">Columns</label>
	    			<input class="summarize-rows" id="summarize-rows" type="checkbox" name="summarizerows">
    				<label for="summarize-rows">Rows</label>
    			</div>
                <div id="other-interactions">
                    <br>
                    <h4>Other Interactions</h4>
                    <input id="hover" type="checkbox" name="hover">
                    <label for="hover">Hover Row & Column</label>
                    <input id="select-cells" type="checkbox" name="selectcells">
                    <label for="select-cells">Select Cells</label>
                </div>
    			<input id="export-image" class="btn btn-primary pull-right" type="button" value="Export Image" />
	    	</div>
	    </div>
	</div>

	<textarea id="uploaded">{{update}}</textarea>
	<textarea id="filename">{{filename}}</textarea>
	</body>
</html>